.container {
  position: absolute;
  top: 0;
  z-index: 999;
  height: 55px;
  width: 100%;
  display:flex;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  border: none;
}

.icon{
  margin: 0;
  padding: 0;
}

.nav__left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 50px;
  margin: 0;
  padding: 0;


}