.cards_container {
  min-height: 85vh;
  width: 100vw;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  box-shadow: 4px 4px 20px black;
  margin-bottom: 5px;
}
.pagination_container {
  display: flex;
  justify-content: center;
}
