.cards_container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  min-height: 85vh;
  width: 100vw;
  margin-top: 50px;
  backdrop-filter: blur(40px);
  box-shadow: 4px 4px 20px black;
  margin-bottom: 5px;
}
.pagination_container {
  display: flex;
  justify-content: center;
}
